<div class="information-container">
    <div>
        <a [routerLink]="['/home']">Back to home</a>
    </div>
    <div>
        <h2>What is the Stock Market?</h2>
        <p>The stock market refers to public markets that exist for issuing, buying and selling stocks that trade on a stock exchange or over-the-counter. Stocks, also known as equities, represent fractional ownership in a company, and the stock market is
            a place where investors can buy and sell ownership of such investible assets. An efficiently functioning stock market is considered critical to economic development, as it gives companies the ability to quickly access capital from the public.</p>
        <h2> Purposes of the Stock Market – Capital and Investment Income </h2>
        <p>The stock market serves two very important purposes. The first is to provide capital to companies that they can use to fund and expand their businesses. If a company issues one million shares of stock that initially sell for $10 a share, then
            that provides the company with $10 million of capital that it can use to grow its business (minus whatever fees the company pays for an investment bank to manage the stock offering). By offering stock shares instead of borrowing the capital
            needed for expansion, the company avoids incurring debt and paying interest charges on that debt. The secondary purpose the stock market serves is to give investors – those who purchase stocks – the opportunity to share in the profits of publicly-traded
            companies. Investors can profit from stock buying in one of two ways. Some stocks pay regular dividends (a given amount of money per share of stock someone owns). The other way investors can profit from buying stocks is by selling their stock
            for a profit if the stock price increases from their purchase price. For example, if an investor buys shares of a company’s stock at $10 a share and the price of the stock subsequently rises to $15 a share, the investor can then realize a
            50% profit on their investment by selling their shares.</p>
    </div>
</div>